[submodule "bundle/brolink.vim"]
	path = bundle/brolink.vim
	url = https://github.com/jaxbot/brolink.vim
[submodule "bundle/vim-origami"]
	path = bundle/vim-origami
	url = https://github.com/kshenoy/vim-origami
